<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Reservation de vols</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Services</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container-fluid booking mt-5 pb-5">
<div class="container pb-5">
    <div class="bg-light shadow" style="padding: 30px;">
        <div class="row align-items-center" style="min-height: 60px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <select class="custom-select px-4" style="height: 47px;" #dept>
                                <option selected>Depart</option>
                                <option *ngFor="let cityCode of cityCodes; let i = index" value="{{cityCode.code}}">{{cityCode.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <select class="custom-select px-4" style="height: 47px;" #dest>
                                <option selected>Destination</option>
                                <option *ngFor="let cityCode of cityCodes; let i = index" value="{{cityCode.code}}">{{cityCode.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    <app-date-picker-search (fromDateEvent)="getFromDate($event)" (toDateEvent)="getToDate($event)" class="col-md-6"></app-date-picker-search>
                    <!-- TODO FAIRE DES CLASSES CSS POUR CES CHAMPS-->
                    <div class="col-md-4">
                        <div class="mb-3" style="margin-top: 15%;text-align: center;">
                            <span>Budget</span>
                        </div>
                    </div>
                    <app-custom-price-slider (minPriceEvent)="getPriceMin($event)" (maxPriceEvent)="getMaxPrice($event)" class="col-md-8" style="margin-top: 3%"></app-custom-price-slider>
                    
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" (click)="search(dept.value,dest.value)" type="submit" style="height: 47px; margin-top: -2px;">Envoyer</button>
            </div>
        </div>
    </div>
</div>
</div>
