 <!-- Registration Start -->
 <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-primary text-center p-4">
                        <h1 class="text-white m-0">Connexion</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-white p-5">
                        <form  [formGroup]="loginForm"
                        (submit)="onSubmit()">
                            <div class="form-group">
                                <input type="text" formControlName="username" class="form-control p-4" placeholder="Nom utilisateur" required="required" />
                                <span *ngIf="loginForm?.get('username')?.touched && loginForm?.get('username')?.invalid" style="color: red;">Le nom utilisateur est requis</span>
                            </div>
                           <div class="form-group">
                                <input type="password" class="form-control p-4" formControlName="pwd" placeholder="Mot de passe" required="required" />
                                <span *ngIf="loginForm?.get('pwd')?.touched && loginForm?.get('pwd')?.invalid" style="color: red;">Le mot de passe est requis</span>
                            </div>                     
                            <div>
                                <button class="btn btn-primary btn-block py-3" type="submit" [disabled]="loginForm.invalid" >Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->
