<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/images/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                        <h1 class="display-3 text-white mb-md-4">Découvrons le monde ensemble</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/images/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                        <h1 class="display-3 text-white mb-md-4">Discover Amazing Places With Us</h1>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- Carousel End -->
<!-- Destination Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
            <h1>Top Destinations</h1>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let cityCode of cityCodes; let i = index">
                    <div class="destination-item position-relative overflow-hidden mb-2" >
                        <img class="img-fluid" src="assets/images/destination-1.jpg" alt="">
                        <a  [routerLink]="['services/hotel-booking']" class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">{{cityCode.libelle}}</h5>
                            <span>100 Cities</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <!--div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="assets/images/destination-1.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">United States</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="assets/images/destination-2.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">United Kingdom</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="assets/images/destination-3.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Australia</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div-->
        </div>
    </div>
</div>
<!-- Destination Start -->


<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h6>
            <h1>Hotel et Voyages</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <a  [routerLink]="['services/travel-booking']" class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="mb-2">Reservation voyage</h5>
                        
                    </a>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <a  [routerLink]="['services/hotel-booking']" class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="mb-2">Reservation hotel</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->



